main {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
}

article {
    width: 100%;    
    margin: 0;
}

article > h2 {
    font-size: clamp(1.5rem, 5vw, 4rem);
}

article > p {
    font-size: 0.9rem;
}

figure img {
    width: clamp(250px, 30vw, 425px)
}