main {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
}

article {
    width: 100%;    
    margin: 0;
}

article > h2 {
    font-size: 1.75rem;
}

article > p {
    width: 100%;
    font-size: 1rem;
}

figure {
    margin: 0;
}

figure img {
    max-width: 300px;
}

#projects-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 50px;
}

.project {
    max-width: 300px;
    height: 600px;
    justify-content: center;
    gap: 25px;
}

.project img {
    width: 250px;
    height: 250px;
}

.project ul {
    margin-left: 1.75rem;
}

.project p {
    font-size: 0.875rem;
}